# Binaries
*.exe
*.deb
*.rpm
*.tar
*.tar.gz
*.zip
*.gz

# Downloaded installers
minikube-linux-amd64
kubectl

# IntelliJ
.idea/
*.iml

# Node
node_modules/

# Java
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
